<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}E-cyfrowa szkoła{% endblock %}</title>
<link href="{{ asset('bundles/schoolapp/css/style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
<!------------------------------------------------------------------------------------------------------->
<div id="top_bgr">
	<div class="frame">
    	<a href="index.php"><img src="{{ asset('bundles/schoolapp/images/logo_03.png') }}" alt="cyfrowa szkoła" width="495" height="72" border="0" /></a>
		<div class="login_bar">
        	<div class="login_bar_button"><a href="kontakt.php">kontakt</a></div>
      		<div class="login_bar_button"><a href="{{ path('_index_register') }}">rejestracja</a></div>
      		<div class="login_bar_button"><a href="{{ path('_index_login') }}">logowanie</a></div>
            <div class="clr"></div>
        </div>
    </div><!--end frame-->
</div><!--end top_bgr-->
<!------------------------------------------------------------------------------------------------------->
<div id="mid_bgr">	
    <div class="frame">
    	<div class="menu_btn"><a href="index.php">start</a></div>
      	<div class="menu_btn"><a href="o_nas.php">o nas</a></div>
        <div class="menu_btn"><a href="harmonogram.php">harmonogram</a></div>
        <div class="menu_btn"><a href="rozporzadzenie.php">projekt rozporządzenia</a></div>
      	<div class="menu_btn"><a href="{{ path('_index_katalog') }}">katalog</a></div>
        <div class="menu_btn"><a href="konfigurator.php">konfigurator</a></div>
      	<div class="clr"></div>
        <!--end top menu-->
		    {% if app.session.flash('notice') %}
		        <div class="flash-message">
		            <em>Notice</em>: {{ app.session.flash('notice') }}
		        </div>
		    {% endif %}    
		    {% block content %}
		    {% endblock %}
			<div id="bottom_bgr">
				<div class="frame">
			    <div class="content_footer">
			        <div class="footer_l">
			          Wszelkie prawa zastrzeżone © 2012 One System Sp.z o.o.<br />
			          <strong><br />
					  One System Sp.z o.o.</strong><br />
			          ul. Postępu 6, 02-676 Warszawa<br />
			          NIP: 835-15-71-867<br />
			<br />
			tel. 22 244-13-98 fax. 22 856-55-67
			      </div>
			        <div class="footer_r">
			        <a href="http://www.aymoo.pl" target="_blank"><img src="{{ asset('bundles/schoolapp/images/logo_aymoo.png') }}" alt="strony internetowe aymoo" title="stony internetowe - aymoo" width="70" height="30" border="0" /></a>
			        </div>
			        <div class="clr"></div> 
			    </div>
	</div><!--end frame-->
</div><!--end bottom_bgr-->
<!------------------------------------------------------------------------------------------------------->
</body>
</html>